<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Stalinist+One&display=swap" rel="stylesheet">
<!------ Include the above in your HEAD tag ---------->

<body>
   
    
    <div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Login Form -->
        <h1 class="frase">LOGIN</h1>
        <form>
        <input type="text" id="login" class="fadeIn second" name="login" placeholder="Email" [(ngModel)]="email">
        <input type="text" id="password" class="fadeIn third" name="login" placeholder="Password"  [(ngModel)]="pwd">
        <button (click)='botonlogin()' 
                [disabled]="!checkTerms()">LOGIN</button>
        </form>
        
    </div>
    </div>
    <script type='text/javascript' src='http://www.aemet.es/es/eltiempo/prediccion/municipios/launchwidget/malaga-id29067?w=g4p01110001ohmffffffw992z190x4f86d9t95b6e9r1s8n2'>
    </script><noscript><a target='_blank' style='font-weight: bold;font-size: 1.20em;' href='http://www.aemet.es/es/eltiempo/prediccion/municipios/malaga-id29067'>
    El Tiempo. Consulte la predicción de la AEMET para Málaga</a></noscript>
</body>